@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: 150, 219, 220;
  --background-start-rgb: 150, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
body {
  color: rgb(var(--foreground-rgb));
  /*
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    */
  /*
  background-image: url("../../public/bg.jpg");
  background-size: cover;*/
  background: rgb(15, 109, 199);
}

.main-page {
  background-image: url("../../public/bg.jpg");
  background-size: cover;
  /*background: rgb(15, 56, 91);*/
}
.start-page {
  background: linear-gradient(rgb(6, 51, 94), rgb(15, 109, 199));
  background: linear-gradient(
    #58151a,
    #bc2909,
    #ba6d09,
    #71a8ee,
    #3072eb,
    rgb(15, 109, 199)
  );
}
.navbar {
  background-color: transparent;

  /*
  background: rgb(255, 255, 255);
  background: linear-gradient(to top, transparent, rgba(26, 54, 139, 0.9))
    rgba(72, 160, 236, 0.05);*/
}

.logo {
  width: 25%;
}

.grid-container {
  background-color: blue;
  display: grid;
  justify-content: space-evenly;
}

.image-settings {
  margin: 0 auto;
}

.big-title{
  font-size: 2.5rem;
  line-height: normal;
}

.card-container{
  margin-top: 5%;
}

@media (min-width: 640px) {
  .big-title span.divisore::after {
    content: '';display: block; /* Simula un'interruzione di riga */  
  }  
}

@media (max-width: 800px) {
  .big-title {
    font-size: 1.75rem;
  }
}

.text-small-desc{
  font-size: 1.2rem;
  width: 65%;
  margin: 2% auto 0 auto;
  text-align: justify;
}

.card-body, .card-title{
  font-size: 1.2rem;
  text-align: center;
}

@media (max-width: 640px) {
  .card-container{
    margin-top: 20%;
  }

  .text-small-desc {
    font-size: 0.9rem;
    width: 90%;
    margin: 1% auto 0 auto;
  }

  .card-body, .card-title{
    font-size: 1rem;
    text-align: center;
  }

  .big-title {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  .title-settings {
    font-size: 1.25rem;
  }
  .bg-wave {
    height: 300px; /* Aumenta per coprire di più su mobile */
    bottom: 0; /* Fissa in basso */
  }
  .hero-content {
    padding-bottom: 2rem; /* Riduci il padding */
  }
}


.little-menu {
  display: inline-block;
  vertical-align: middle;
  margin: 0; /* Spazio attorno all'icona */
}

.btn-prova {
  border-radius: 0.5rem;
  border: none;
  width: 90%;
  margin: 1% 5%;
  color: white;
}

.bg-wave {
  background-image: url("../../public/wave.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  /* animation: wave-animation 10s infinite linear;*/
}

/*
@keyframes wave-animation {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 100% bottom;
  }
}
*/
/* Add styles to your component's CSS file */
.github-icon {
  color: whitesmoke; /* Change the color as needed */
  font-size: 26px; /* Change the size as needed */
  /* Add other styles as needed */
}
.fixed-square {
  position: fixed;
  bottom: 45vh;
  right: 2vh;
  height: auto;
  padding: 0.5%;
  /*
  border: 1px solid #b8d5e9;
  background-color: #b8d5e9;
  color: #131386;
  */
  font-size: 1rem;
  color: #b8d5e9;
  text-align: right;
  font-weight: bold;
}

.fixed-square p {
  margin-top: 5%;
  width: 100%;
}

.bg-gradient-rgba {
  background-image: linear-gradient(
    to bottom,
    rgb(35, 35, 199),
    rgba(35, 35, 199, 0.5),
    /* 52, 122, 217 */ rgba(52, 122, 217, 0.01)
  );
}
/*
rgba(69, 174, 235, 0.01),
    rgba(17, 17, 138, 0.397)
*/

.bg-gradient-card {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.75)
  );
}

.bg-gradient-sky {
  background-image: radial-gradient(
    at bottom,
    rgb(69, 174, 235),
    rgb(35, 35, 199)
  );
}

.triangle-icon::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  border-left: 14px solid currentColor; /* You can adjust the size */
  display: inline-block;
  margin-right: 0.5em; /* Adjust the spacing between the icon and text */
}

.square-icon::before {
  content: "";
  width: 14px; /* Adjust the size of the square */
  height: 14px; /* Adjust the size of the square */
  display: inline-block;
  margin-right: 8px; /* Adjust the spacing between the icon and text */
  background-color: currentColor; /* Icon color */
}
